@import "base/fuentes";
@import "base/colores";
@import "base/mixins";
@import "base/animaciones";
@import "base/footer";
@import "base/grilla";
@import "base/imagenes";
@import "base/form";

/***** Estilos Generales *****/
html {
  font-size: 16px
}

body{
  background-color: $color4;
}

.modNav{
   @include tipografiaBase($lobster, 28px, #000, none);
  background-color: $color2;
}

/***** Media Queries *****/
  @media screen and (min-width: 768px){
    body {
    width: 100%;
    height: 100vh;
    }
  }
  
  @media (max-width:480px) {
    form{
      width: 100%;
    }
  }