  /* Formulario */
form{
  @include tipografiaBase($roboto, 20px, #000, null);
  width: 600px;
  margin: auto;
  background-color: $color2;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 7px;

  input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
  }
  textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
  }
  label{
    font-family: $lobster;
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

// Estilo para los Botones
.botonForm {
  background-color: $color3;
  padding: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.botonForm:hover {
    background-color: #4CAF50;
    color: white;
}