/* Flexbox */
#article{
  display: flex; flex-direction: column;
  height: 300px;
}
article{
  @include tipografiaBase($roboto, 22px, #000, 2em);
  background-color: rgb(252, 187, 66);
  flex:1;
  margin:20px;
  text-align: center;
  border-radius: 5px;
}

.main{
  display: flex; flex-direction: row;
  justify-content: space-evenly;
  margin: 5%;
}