/* Estilo Imagenes */
.imagenes{
    width: 275px;
    height: 275px;
    border-style: double;
    border-width: 5px;
    margin: 5%;
}

.logo{
    width: 250px;
    height: 100%;
}

.cardWidth{
    width: 18rem
}